{% extends "layout.html" %}

{% block style %}
	<style>
		.footer {
			display: inline-block;
		}
	</style>
{% endblock %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Welcome to GMXMDS Setup and Run Platform</h1>
    <p>The Platform provides you with automated approaches to: </p>
	<p>		1. Prepare receptor ligand complexes and generate required topology files for Molecular Dynamics Simulations</p>
 	<p>		2. Prepare Peptides and Proteins and generate required topology files for Molecular Dynamics Simulations</p>
    <p>		3. Perform a test run or full scale Molecular Dynamics Simulations using generated solvated structures and topology files in Gromacs</p>
	<p>Please Note that while the generated structures and topology files may be useful in other systems, they are here generated to be compatible with Gromacs</h3>
	<p>Please click the "QGuides" tab to get a Quick Guide on using the platform</p>
	<p><strong><i>If you use this Package, Please cite:</i></strong></p>
		<p style="font-size: 18px;">Daniyan O. M. (2023): pyGROMODS: A Python package for the generation of input files for molecular dynamic simulation
		with GROMACS. Journal of Biomolecular Structure and Dynamics. https://doi.org/10.1080/07391102.2023.2239929</p>
	<p>For comments and supports, contact me via the address on the footer</p>
	<p></p>
	<h3> Thank you!!!</h3>
{% endblock %}

<!-- pyGROMODS-v2024.02 Release -->

