{% extends "layout.html" %}

{% block style %}
	<style>
		.footer {
			display: none;
		}
	</style>
{% endblock %}

{% block script %}
	<script>
		function myFW() {
			let jdictff = {{ dictff| tojson }};
			let x = document.getElementById("gmodsff").value;
			let y = document.getElementById("watertype");

			y.options.length = 1;
			if (x in jdictff) {
				if (y.style.display = "none") {
					y.style.display = "block";
				}

				let wmodels = jdictff[x];
				for (let wm in wmodels) {
					model = wmodels[wm];
					y.options[y.options.length] = new Option(model, model);
				}
			} else {
				if (y.style.display = "none") {
					y.style.display = "block";
				}
			}
		}

		function submitDisabled() {
			d = document.getElementById("dunsin");
			if (d.disabled === false) {
				d.disabled = true;
			}
		}
	</script>
{% endblock %}

{% block title %}
    Upload Files
{% endblock %}

{% block main %}
  <h1>Upload Receptor, Ligand (and user supplied Ligand topology, if required) Files</h1>
	<p>Before you upload, please read the QGuides and ensure ligand and receptor have been properly prepared</p>
    <form onsubmit="submitDisabled()" class="form-group" method=post enctype=multipart/form-data>
		{% if (N == 1 and F == 0) or (N == 2 and F == 0) %}
			* One or more ligand files can be uploaded per receptor<br>
			* Ligand(s) file(s) must be in .pdb or .mol2 format<br>
			* Receptor file must be .pdb format<br><br>

			<label for="Lfiles">Ligand(s) File(s):</label><br>
			<input type="file" class="form-control" name="Lfiles[]" multiple="true" autocomplete="off" required><br><br>

			<label for="Rfile">Receptor File:</label><br>
			<input type="file" class="form-control" name="Rfile"><br><br>

			<input id="dunsin" type=submit value=Upload>

		{% elif (N == 1 and F == 1) or (N == 2 and F == 1) %}
			* One or more ligand structure and topology files can be uploaded per receptor<br>
			* Ligand(s) must be in .pdb or .mol2 while Receptor must be .pdb file format<br>
			* Ligand topology must be in .top or .itp file format and compatible with preselected forcefield<br><br>
			* Ligand topology should be named similar to the ligand structure they're meant for<br><br>

			<label for="Lfiles">Ligand(s) File(s):</label><br>
			<input type="file" class="form-control" name="Lfiles[]" multiple="true" autocomplete="off" required><br><br>

			<label for="Ffiles">Ligand(s) Topology(ies):</label><br>
			<input type="file" class="form-control" name="Ffiles[]" multiple="true" autocomplete="off" required><br><br>

			<label for="Rfile">Receptor File:</label><br>
			<input type="file" class="form-control" name="Rfile"><br><br>

			<input id="dunsin" type=submit value=Upload>

		{% elif N == 3 and F == 0 %}
			* One or more Matching pairs of receptor and ligand (at a time) can be uploaded<br>
			* Ligand(s) must be in .pdb or .mol2 while Receptor must be .pdb file format<br><br>
			* Please first reselect your preferred forcefield and water model for each pair of receptor and ligand<br><br>

			<label for="setforcefield">Choose your preferred forcefield</label><br>
			<select class="form-select" name="gmodsff" id="gmodsff" style="width: 50%;" onchange="myFW()">
				<option value="select">select</option>
				{% for topf in gmxtoplist %}
					<option value={{ topf }}>{{ topf }}</option>
				{% endfor %}
			</select>
			<br><br>

			<label for="selwater">Choose your preferred Water Model</label><br>
			<select class="form-select" name="watertype" id="watertype" style="width: 50%;">
				<option value="select">select</option>
			</select>
			<br><br>

			<label for="Lfile">Ligand File:</label><br>
			<input type="file" class="form-control" name="Lfile"><br><br>

			<label for="Rfile">Receptor File:</label><br>
			<input type="file" class="form-control" name="Rfile"><br><br>

			<input id="dunsin" type="submit" value="Upload">

		{% elif N == 3 and F == 1 %}
			* One or more Matching pairs of receptor and ligand with ligand topology can be uploaded<br>
			* Ligand(s) must be in .pdb or .mol2 while Receptor must be .pdb file format<br>
			* Ligand topology must be in .top or .itp file format and compatible with preselected forcefield<br><br>
			* Ligand topology should be named similar to the ligand structure they're meant for<br><br>
			* Please first select your preferred forcefield and water model for each pair of receptor and ligand<br><br>

			<label for="setforcefield">Choose your preferred forcefield</label><br>
			<select class="form-select" name="gmodsff" id="gmodsff" style="width: 50%;" onchange="myFW()">
				<option value="select">select</option>
				{% for topf in gmxtoplist %}
				<option value={{ topf }}>{{ topf }}</option>
				{% endfor %}
			</select>
			<br><br>
			
			<label for="selwater">Choose your preferred Water Model</label><br>
			<select class="form-select" name="watertype" id="watertype" style="width: 50%;">
				<option value="select">select</option>
			</select>
			<br><br>

			<label for="Lfile">Ligand File:</label><br>
			<input type="file" class="form-control" name="Lfile"><br><br>

			<label for="Ffile">Ligand Topology File:</label><br>
			<input type="file" class="form-control" name="Ffile"><br><br>

			<label for="Rfile">Receptor File:</label><br>
			<input type="file" class="form-control" name="Rfile"><br><br>

			<input id="dunsin" type="submit" value="Upload">

		{% elif N == 4 and F == 2 %}
			* One or multipe Peptides sequence files in .in format can be uploaded once<br>

			<label for="Ptfile">Peptide(s) File(s):</label><br>
			<input type="file" class="form-control" name="Ptfiles[]" multiple="true" autocomplete="off" required><br><br>

			<input id="dunsin" type="submit" value="Upload">

		{% elif N == 4 and F == 3 %}
			* One or multipe Proteins files in .pdb format can be uploaded once<br>
			* Please first prepare proteins by removing waters and other non-standard residues<br><br>

			<label for="Prfile">Protein(s) File(s):</label><br>
			<input type="file" class="form-control" name="Prfiles[]" multiple="true" autocomplete="off" required><br><br>

			<input id="dunsin" type="submit" value="Upload">

		{% endif %}
   </form>
{% endblock %}
