{% extends "layout.html" %}

{% block style %}
	<style>
		.footer {
			display: none;
		}
	</style>
{% endblock %}

{% block script %}
	<script>
		function submitDisabled() {
			d = document.getElementById("button");
			if (d.disabled === false) {
				d.disabled = true;
			}
		}
	</script>
{% endblock %}

{% block title %}
    MDS Setup
{% endblock %}

{% block main %}
  <h1>Upload Needed Files For MDS</h1>
  <p>Please browse to any of the gmxmds files earlier generated and select all relevant files for MD simulations</p>
  <p>However, if solvation was done manually, rename your final solvated.gro to fsolvated.gro and replace topol.top with your updated one</p>
  <p><strong>To setup manually, please read instructions in README.md file, and upload the relevant files below</strong></p>

  <div id="gap">
    <p> </p>
  </div>

  <h2>It's time to upload the necessary files</h2>

  <form onsubmit="submitDisabled()"class="form-group" action="/scmds" method=post enctype=multipart/form-data>
    <strong><i>FOR GMXMDS Files:</i></strong><br>
    Multiple files from gmxmds directory earlier generated can be uploaded<br>
    But, if uploading files generated outside this platform, please note:<br>
        *** topol.top file must be present and named as such<br>
        *** Final solvated structure must be renamed "fsolvated.gro"<br>
        *** Include any other files defined in topol.top file (e.g. ligand topology, restraint file, etc)<br><br>
    <label for="mdsfiles">GMXMDS File(s):</label><br>
    <input type="file" name="mdsfiles[]" class="form-control" multiple="true" autocomplete="off" required><br><br>
	
	MDP files has to be uploaded individually. Check Sample folder in your selelcted Route generated workspace directory for samples to help prepare yours
	<br><br>
    <label for="minzsd">MinimizationSD:</label><br>
    <input type="file" name="minzsd" class="form-control"><br><br>

    <label for="minzcg">MinimizationCG:</label><br>
    <input type="file" name="minzcg" class="form-control"><br><br>

    <label for="equnvt">EquilibrationNVT:</label><br>
    <input type="file" name="equnvt" class="form-control"><br><br>

    <label for="equnpt">EquilibrationNPT:</label><br>
    <input type="file" name="equnpt" class="form-control"><br><br>

    <label for="equpmd">EquilibrationPMD:</label><br>
    <input type="file" name="equpmd" class="form-control"><br><br>

    <label for="pmds">ProductionMD:</label><br>
    <input type="file" name="pmds" class="form-control"><br><br>

    <input id="button" type="submit" value="Upload">
  </form>

  <br>

  <h1>THANK YOU</h1><br>
{% endblock %}

<!-- pyGROMODS-v2024.02 Release -->